:root{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/star.jpg);
    background-size: cover;
    background-repeat: repeat;
    overflow: hidden;
    
}   

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(95, 111, 159, 0.573);
    

    .logo{
        color: whitesmoke;
        font-weight: 700;
        text-decoration: none;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    li{
        list-style: none;
        margin-left: 20px;
    }

    .items{
        text-decoration: none;
        text-transform: uppercase;
        color: whitesmoke;
        padding: 8px 20px;
        font-size: 18px;
        font-size: 1.3em;
    
        &:hover{
        background: rgba(0, 0, 0, 0.71);
        color: white;
        border-radius: 6px;
    }
}

}