body {
  background-color: #234;
}

.flake-layer {
  width: 100%;
}
.flake-layer .flake {
  border-radius: 5px;
  position: fixed;
  top: -10px;
  -webkit-animation: fall 20s linear infinite;
          animation: fall 20s linear infinite;
}
@-webkit-keyframes fall {
  from {
    top: -10px;
  }
  to {
    top: 100%;
  }
}
@keyframes fall {
  from {
    top: -10px;
  }
  to {
    top: 100%;
  }
}
.flake-layer .flake:nth-child(1) {
  left: 17%;
  -webkit-animation-delay: 12.5036478378s;
          animation-delay: 12.5036478378s;
  -webkit-animation-duration: 32.6874714462s;
          animation-duration: 32.6874714462s;
  width: 3.059276095px;
  height: 3.059276095px;
  background-color: #8193b7;
}
.flake-layer .flake:nth-child(2) {
  left: 30%;
  -webkit-animation-delay: 8.3187124764s;
          animation-delay: 8.3187124764s;
  -webkit-animation-duration: 34.4649320583s;
          animation-duration: 34.4649320583s;
  width: 2.9014999893px;
  height: 2.9014999893px;
  background-color: #7d8fb5;
}
.flake-layer .flake:nth-child(3) {
  left: 8%;
  -webkit-animation-delay: 6.8416333921s;
          animation-delay: 6.8416333921s;
  -webkit-animation-duration: 18.9256612418s;
          animation-duration: 18.9256612418s;
  width: 5.2838312343px;
  height: 5.2838312343px;
  background-color: #bbc4d8;
}
.flake-layer .flake:nth-child(4) {
  left: 57%;
  -webkit-animation-delay: 4.3631019431s;
          animation-delay: 4.3631019431s;
  -webkit-animation-duration: 14.3287808887s;
          animation-duration: 14.3287808887s;
  width: 6.9789607907px;
  height: 6.9789607907px;
  background-color: #e7eaf1;
}
.flake-layer .flake:nth-child(5) {
  left: 69%;
  -webkit-animation-delay: 15.8708595258s;
          animation-delay: 15.8708595258s;
  -webkit-animation-duration: 18.0578403347s;
          animation-duration: 18.0578403347s;
  width: 5.5377607813px;
  height: 5.5377607813px;
  background-color: #c1cadc;
}
.flake-layer .flake:nth-child(6) {
  left: 60%;
  -webkit-animation-delay: 3.4074040888s;
          animation-delay: 3.4074040888s;
  -webkit-animation-duration: 28.2832988378s;
          animation-duration: 28.2832988378s;
  width: 3.5356554613px;
  height: 3.5356554613px;
  background-color: #8d9ebe;
}
.flake-layer .flake:nth-child(7) {
  left: 57%;
  -webkit-animation-delay: 8.1396602553s;
          animation-delay: 8.1396602553s;
  -webkit-animation-duration: 20.9954796739s;
          animation-duration: 20.9954796739s;
  width: 4.7629299999px;
  height: 4.7629299999px;
  background-color: #adb9d0;
}
.flake-layer .flake:nth-child(8) {
  left: 35%;
  -webkit-animation-delay: 11.3650212661s;
          animation-delay: 11.3650212661s;
  -webkit-animation-duration: 27.2864328233s;
          animation-duration: 27.2864328233s;
  width: 3.6648249571px;
  height: 3.6648249571px;
  background-color: #91a0c0;
}
.flake-layer .flake:nth-child(9) {
  left: 3%;
  -webkit-animation-delay: 19.3232491586s;
          animation-delay: 19.3232491586s;
  -webkit-animation-duration: 16.6187935765s;
          animation-duration: 16.6187935765s;
  width: 6.0172839587px;
  height: 6.0172839587px;
  background-color: #ced5e3;
}
.flake-layer .flake:nth-child(10) {
  left: 16%;
  -webkit-animation-delay: 17.6880467548s;
          animation-delay: 17.6880467548s;
  -webkit-animation-duration: 16.6150885498s;
          animation-duration: 16.6150885498s;
  width: 6.018625763px;
  height: 6.018625763px;
  background-color: #ced5e3;
}
.flake-layer .flake:nth-child(11) {
  left: 1%;
  -webkit-animation-delay: 5.300417352s;
          animation-delay: 5.300417352s;
  -webkit-animation-duration: 14.2152779497s;
          animation-duration: 14.2152779497s;
  width: 7.0346848196px;
  height: 7.0346848196px;
  background-color: #e8ebf2;
}
.flake-layer .flake:nth-child(12) {
  left: 98%;
  -webkit-animation-delay: 17.6528970353s;
          animation-delay: 17.6528970353s;
  -webkit-animation-duration: 21.4446164841s;
          animation-duration: 21.4446164841s;
  width: 4.6631750246px;
  height: 4.6631750246px;
  background-color: #abb7cf;
}
.flake-layer .flake:nth-child(13) {
  left: 30%;
  -webkit-animation-delay: 12.0444642697s;
          animation-delay: 12.0444642697s;
  -webkit-animation-duration: 19.9803370937s;
          animation-duration: 19.9803370937s;
  width: 5.0049205642px;
  height: 5.0049205642px;
  background-color: #b3bed4;
}
.flake-layer .flake:nth-child(14) {
  left: 100%;
  -webkit-animation-delay: 11.9196198015s;
          animation-delay: 11.9196198015s;
  -webkit-animation-duration: 19.7622182555s;
          animation-duration: 19.7622182555s;
  width: 5.0601606918px;
  height: 5.0601606918px;
  background-color: #b5bfd5;
}
.flake-layer .flake:nth-child(15) {
  left: 41%;
  -webkit-animation-delay: 13.5775096915s;
          animation-delay: 13.5775096915s;
  -webkit-animation-duration: 16.3408396828s;
          animation-duration: 16.3408396828s;
  width: 6.1196365634px;
  height: 6.1196365634px;
  background-color: #d0d7e4;
}
.flake-layer .flake:nth-child(16) {
  left: 44%;
  -webkit-animation-delay: 13.131064409s;
          animation-delay: 13.131064409s;
  -webkit-animation-duration: 30.1442766927s;
          animation-duration: 30.1442766927s;
  width: 3.3173793161px;
  height: 3.3173793161px;
  background-color: #8899bb;
}
.flake-layer .flake:nth-child(17) {
  left: 66%;
  -webkit-animation-delay: 5.0898619044s;
          animation-delay: 5.0898619044s;
  -webkit-animation-duration: 20.1512299476s;
          animation-duration: 20.1512299476s;
  width: 4.9624762488px;
  height: 4.9624762488px;
  background-color: #b2bdd3;
}
.flake-layer .flake:nth-child(18) {
  left: 75%;
  -webkit-animation-delay: 15.1125607516s;
          animation-delay: 15.1125607516s;
  -webkit-animation-duration: 16.0740552468s;
          animation-duration: 16.0740552468s;
  width: 6.2212054435px;
  height: 6.2212054435px;
  background-color: #d3d9e6;
}
.flake-layer .flake:nth-child(19) {
  left: 33%;
  -webkit-animation-delay: 6.7987159847s;
          animation-delay: 6.7987159847s;
  -webkit-animation-duration: 25.6796444347s;
          animation-duration: 25.6796444347s;
  width: 3.8941349151px;
  height: 3.8941349151px;
  background-color: #97a5c3;
}
.flake-layer .flake:nth-child(20) {
  left: 88%;
  -webkit-animation-delay: 18.6942628663s;
          animation-delay: 18.6942628663s;
  -webkit-animation-duration: 17.070669954s;
          animation-duration: 17.070669954s;
  width: 5.8580009027px;
  height: 5.8580009027px;
  background-color: #cad1e0;
}
.flake-layer .flake:nth-child(21) {
  left: 56%;
  -webkit-animation-delay: 13.4653261859s;
          animation-delay: 13.4653261859s;
  -webkit-animation-duration: 17.8478595964s;
          animation-duration: 17.8478595964s;
  width: 5.6029127448px;
  height: 5.6029127448px;
  background-color: #c3ccdd;
}
.flake-layer .flake:nth-child(22) {
  left: 76%;
  -webkit-animation-delay: 2.1638383118s;
          animation-delay: 2.1638383118s;
  -webkit-animation-duration: 15.3306579234s;
          animation-duration: 15.3306579234s;
  width: 6.5228772633px;
  height: 6.5228772633px;
  background-color: #dbe0ea;
}
.flake-layer .flake:nth-child(23) {
  left: 92%;
  -webkit-animation-delay: 16.6750975956s;
          animation-delay: 16.6750975956s;
  -webkit-animation-duration: 27.805573886s;
          animation-duration: 27.805573886s;
  width: 3.5964012255px;
  height: 3.5964012255px;
  background-color: #8f9fbf;
}
.flake-layer .flake:nth-child(24) {
  left: 97%;
  -webkit-animation-delay: 17.6303447355s;
          animation-delay: 17.6303447355s;
  -webkit-animation-duration: 22.4690259257s;
          animation-duration: 22.4690259257s;
  width: 4.4505712144px;
  height: 4.4505712144px;
  background-color: #a5b2cc;
}
.flake-layer .flake:nth-child(25) {
  left: 25%;
  -webkit-animation-delay: 3.4568118687s;
          animation-delay: 3.4568118687s;
  -webkit-animation-duration: 16.3940315554s;
          animation-duration: 16.3940315554s;
  width: 6.0997808661px;
  height: 6.0997808661px;
  background-color: #d0d7e4;
}
.flake-layer .flake:nth-child(26) {
  left: 81%;
  -webkit-animation-delay: 9.0928712534s;
          animation-delay: 9.0928712534s;
  -webkit-animation-duration: 15.8060563655s;
          animation-duration: 15.8060563655s;
  width: 6.3266888139px;
  height: 6.3266888139px;
  background-color: #d6dce7;
}
.flake-layer .flake:nth-child(27) {
  left: 48%;
  -webkit-animation-delay: 11.3433003146s;
          animation-delay: 11.3433003146s;
  -webkit-animation-duration: 15.2081539209s;
          animation-duration: 15.2081539209s;
  width: 6.5754200359px;
  height: 6.5754200359px;
  background-color: #dce1eb;
}
.flake-layer .flake:nth-child(28) {
  left: 19%;
  -webkit-animation-delay: 19.7352411455s;
          animation-delay: 19.7352411455s;
  -webkit-animation-duration: 23.3208555989s;
          animation-duration: 23.3208555989s;
  width: 4.2880073407px;
  height: 4.2880073407px;
  background-color: #a1aec9;
}
.flake-layer .flake:nth-child(29) {
  left: 91%;
  -webkit-animation-delay: 11.4987047075s;
          animation-delay: 11.4987047075s;
  -webkit-animation-duration: 16.8125411763s;
          animation-duration: 16.8125411763s;
  width: 5.9479408229px;
  height: 5.9479408229px;
  background-color: #ccd3e2;
}
.flake-layer .flake:nth-child(30) {
  left: 36%;
  -webkit-animation-delay: 7.9998547616s;
          animation-delay: 7.9998547616s;
  -webkit-animation-duration: 14.3829596807s;
          animation-duration: 14.3829596807s;
  width: 6.9526719271px;
  height: 6.9526719271px;
  background-color: #e6eaf1;
}
.flake-layer .flake:nth-child(31) {
  left: 82%;
  -webkit-animation-delay: 19.0587069556s;
          animation-delay: 19.0587069556s;
  -webkit-animation-duration: 13.7163866999s;
          animation-duration: 13.7163866999s;
  width: 7.2905497773px;
  height: 7.2905497773px;
  background-color: #eff1f6;
}
.flake-layer .flake:nth-child(32) {
  left: 91%;
  -webkit-animation-delay: 2.6371700592s;
          animation-delay: 2.6371700592s;
  -webkit-animation-duration: 16.3577964743s;
          animation-duration: 16.3577964743s;
  width: 6.113292836px;
  height: 6.113292836px;
  background-color: #d0d7e4;
}
.flake-layer .flake:nth-child(33) {
  left: 79%;
  -webkit-animation-delay: 1.5592081752s;
          animation-delay: 1.5592081752s;
  -webkit-animation-duration: 16.9221312786s;
          animation-duration: 16.9221312786s;
  width: 5.9094211216px;
  height: 5.9094211216px;
  background-color: #cbd2e1;
}
.flake-layer .flake:nth-child(34) {
  left: 78%;
  -webkit-animation-delay: 10.6140536509s;
          animation-delay: 10.6140536509s;
  -webkit-animation-duration: 28.8308419141s;
          animation-duration: 28.8308419141s;
  width: 3.4685077979px;
  height: 3.4685077979px;
  background-color: #8c9cbd;
}
.flake-layer .flake:nth-child(35) {
  left: 75%;
  -webkit-animation-delay: 0.5409082594s;
          animation-delay: 0.5409082594s;
  -webkit-animation-duration: 13.6433991247s;
          animation-duration: 13.6433991247s;
  width: 7.3295517551px;
  height: 7.3295517551px;
  background-color: #f0f2f6;
}
.flake-layer .flake:nth-child(36) {
  left: 88%;
  -webkit-animation-delay: 3.6037046681s;
          animation-delay: 3.6037046681s;
  -webkit-animation-duration: 24.4452633368s;
          animation-duration: 24.4452633368s;
  width: 4.0907720495px;
  height: 4.0907720495px;
  background-color: #9caac6;
}
.flake-layer .flake:nth-child(37) {
  left: 93%;
  -webkit-animation-delay: 6.9464818962s;
          animation-delay: 6.9464818962s;
  -webkit-animation-duration: 16.4143505039s;
          animation-duration: 16.4143505039s;
  width: 6.0922300871px;
  height: 6.0922300871px;
  background-color: #d0d6e4;
}
.flake-layer .flake:nth-child(38) {
  left: 38%;
  -webkit-animation-delay: 14.8690869262s;
          animation-delay: 14.8690869262s;
  -webkit-animation-duration: 22.6123984008s;
          animation-duration: 22.6123984008s;
  width: 4.4223526504px;
  height: 4.4223526504px;
  background-color: #a4b1cb;
}
.flake-layer .flake:nth-child(39) {
  left: 10%;
  -webkit-animation-delay: 16.8830219553s;
          animation-delay: 16.8830219553s;
  -webkit-animation-duration: 33.2051152943s;
          animation-duration: 33.2051152943s;
  width: 3.0115841826px;
  height: 3.0115841826px;
  background-color: #8092b6;
}
.flake-layer .flake:nth-child(40) {
  left: 88%;
  -webkit-animation-delay: 14.3659160301s;
          animation-delay: 14.3659160301s;
  -webkit-animation-duration: 31.3706501689s;
          animation-duration: 31.3706501689s;
  width: 3.1876929379px;
  height: 3.1876929379px;
  background-color: #8496b9;
}
.flake-layer .flake:nth-child(41) {
  left: 62%;
  -webkit-animation-delay: 16.090556611s;
          animation-delay: 16.090556611s;
  -webkit-animation-duration: 19.7526580007s;
          animation-duration: 19.7526580007s;
  width: 5.0626098015px;
  height: 5.0626098015px;
  background-color: #b5bfd5;
}
.flake-layer .flake:nth-child(42) {
  left: 25%;
  -webkit-animation-delay: 13.5160132651s;
          animation-delay: 13.5160132651s;
  -webkit-animation-duration: 34.5681247632s;
          animation-duration: 34.5681247632s;
  width: 2.8928384367px;
  height: 2.8928384367px;
  background-color: #7d8fb4;
}
.flake-layer .flake:nth-child(43) {
  left: 69%;
  -webkit-animation-delay: 5.1459944472s;
          animation-delay: 5.1459944472s;
  -webkit-animation-duration: 25.3361549119s;
          animation-duration: 25.3361549119s;
  width: 3.9469288196px;
  height: 3.9469288196px;
  background-color: #98a7c4;
}
.flake-layer .flake:nth-child(44) {
  left: 49%;
  -webkit-animation-delay: 18.6887774842s;
          animation-delay: 18.6887774842s;
  -webkit-animation-duration: 38.8720636889s;
          animation-duration: 38.8720636889s;
  width: 2.5725415764px;
  height: 2.5725415764px;
  background-color: #7488b0;
}
.flake-layer .flake:nth-child(45) {
  left: 8%;
  -webkit-animation-delay: 0.9594110078s;
          animation-delay: 0.9594110078s;
  -webkit-animation-duration: 14.0682222947s;
          animation-duration: 14.0682222947s;
  width: 7.1082186438px;
  height: 7.1082186438px;
  background-color: #eaedf3;
}
.flake-layer .flake:nth-child(46) {
  left: 42%;
  -webkit-animation-delay: 17.4310346648s;
          animation-delay: 17.4310346648s;
  -webkit-animation-duration: 28.9872400204s;
          animation-duration: 28.9872400204s;
  width: 3.4497937689px;
  height: 3.4497937689px;
  background-color: #8b9cbd;
}
.flake-layer .flake:nth-child(47) {
  left: 20%;
  -webkit-animation-delay: 8.8523202626s;
          animation-delay: 8.8523202626s;
  -webkit-animation-duration: 26.3021546418s;
          animation-duration: 26.3021546418s;
  width: 3.8019698904px;
  height: 3.8019698904px;
  background-color: #94a3c2;
}
.flake-layer .flake:nth-child(48) {
  left: 87%;
  -webkit-animation-delay: 11.380907864s;
          animation-delay: 11.380907864s;
  -webkit-animation-duration: 16.0405904768s;
          animation-duration: 16.0405904768s;
  width: 6.2341844675px;
  height: 6.2341844675px;
  background-color: #d3dae6;
}
.flake-layer .flake:nth-child(49) {
  left: 61%;
  -webkit-animation-delay: 9.2681549586s;
          animation-delay: 9.2681549586s;
  -webkit-animation-duration: 20.2364888194s;
          animation-duration: 20.2364888194s;
  width: 4.9415687125px;
  height: 4.9415687125px;
  background-color: #b2bdd3;
}
.flake-layer .flake:nth-child(50) {
  left: 22%;
  -webkit-animation-delay: 11.7218142254s;
          animation-delay: 11.7218142254s;
  -webkit-animation-duration: 15.2700228559s;
          animation-duration: 15.2700228559s;
  width: 6.548778672px;
  height: 6.548778672px;
  background-color: #dbe1eb;
}
.flake-layer .flake:nth-child(51) {
  left: 85%;
  -webkit-animation-delay: 1.7518147445s;
          animation-delay: 1.7518147445s;
  -webkit-animation-duration: 17.6474238381s;
          animation-duration: 17.6474238381s;
  width: 5.6665494589px;
  height: 5.6665494589px;
  background-color: #c5cdde;
}
.flake-layer .flake:nth-child(52) {
  left: 63%;
  -webkit-animation-delay: 17.678193998s;
          animation-delay: 17.678193998s;
  -webkit-animation-duration: 38.5718037879s;
          animation-duration: 38.5718037879s;
  width: 2.5925673725px;
  height: 2.5925673725px;
  background-color: #7589b0;
}
.flake-layer .flake:nth-child(53) {
  left: 17%;
  -webkit-animation-delay: 10.7810521476s;
          animation-delay: 10.7810521476s;
  -webkit-animation-duration: 24.3674432054s;
          animation-duration: 24.3674432054s;
  width: 4.1038363835px;
  height: 4.1038363835px;
  background-color: #9caac6;
}
.flake-layer .flake:nth-child(54) {
  left: 74%;
  -webkit-animation-delay: 13.7347966611s;
          animation-delay: 13.7347966611s;
  -webkit-animation-duration: 13.7500256203s;
          animation-duration: 13.7500256203s;
  width: 7.2727137215px;
  height: 7.2727137215px;
  background-color: #eef1f5;
}
.flake-layer .flake:nth-child(55) {
  left: 58%;
  -webkit-animation-delay: 17.98756967s;
          animation-delay: 17.98756967s;
  -webkit-animation-duration: 18.5730951919s;
          animation-duration: 18.5730951919s;
  width: 5.3841322067px;
  height: 5.3841322067px;
  background-color: #bdc7d9;
}
.flake-layer .flake:nth-child(56) {
  left: 9%;
  -webkit-animation-delay: 11.0479656906s;
          animation-delay: 11.0479656906s;
  -webkit-animation-duration: 13.6106026249s;
          animation-duration: 13.6106026249s;
  width: 7.347213254px;
  height: 7.347213254px;
  background-color: #f0f2f7;
}
.flake-layer .flake:nth-child(57) {
  left: 65%;
  -webkit-animation-delay: 19.4399306113s;
          animation-delay: 19.4399306113s;
  -webkit-animation-duration: 23.311392189s;
          animation-duration: 23.311392189s;
  width: 4.2897480849px;
  height: 4.2897480849px;
  background-color: #a1aec9;
}
.flake-layer .flake:nth-child(58) {
  left: 26%;
  -webkit-animation-delay: 6.0685003978s;
          animation-delay: 6.0685003978s;
  -webkit-animation-duration: 17.2979845268s;
          animation-duration: 17.2979845268s;
  width: 5.7810203174px;
  height: 5.7810203174px;
  background-color: #c8cfdf;
}
.flake-layer .flake:nth-child(59) {
  left: 13%;
  -webkit-animation-delay: 12.8383089043s;
          animation-delay: 12.8383089043s;
  -webkit-animation-duration: 17.8647256284s;
          animation-duration: 17.8647256284s;
  width: 5.5976230523px;
  height: 5.5976230523px;
  background-color: #c3cbdd;
}
.flake-layer .flake:nth-child(60) {
  left: 46%;
  -webkit-animation-delay: 2.7898353004s;
          animation-delay: 2.7898353004s;
  -webkit-animation-duration: 29.0119076227s;
          animation-duration: 29.0119076227s;
  width: 3.4468605547px;
  height: 3.4468605547px;
  background-color: #8b9cbd;
}
.flake-layer .flake:nth-child(61) {
  left: 35%;
  -webkit-animation-delay: 10.2661953231s;
          animation-delay: 10.2661953231s;
  -webkit-animation-duration: 28.9440306097s;
          animation-duration: 28.9440306097s;
  width: 3.454943831px;
  height: 3.454943831px;
  background-color: #8b9cbd;
}
.flake-layer .flake:nth-child(62) {
  left: 14%;
  -webkit-animation-delay: 3.9418279323s;
          animation-delay: 3.9418279323s;
  -webkit-animation-duration: 22.4367297179s;
          animation-duration: 22.4367297179s;
  width: 4.4569775211px;
  height: 4.4569775211px;
  background-color: #a5b2cc;
}
.flake-layer .flake:nth-child(63) {
  left: 18%;
  -webkit-animation-delay: 14.7178584258s;
          animation-delay: 14.7178584258s;
  -webkit-animation-duration: 14.476126484s;
          animation-duration: 14.476126484s;
  width: 6.9079252734px;
  height: 6.9079252734px;
  background-color: #e5e9f0;
}
.flake-layer .flake:nth-child(64) {
  left: 14%;
  -webkit-animation-delay: 9.7514786867s;
          animation-delay: 9.7514786867s;
  -webkit-animation-duration: 13.3351544304s;
          animation-duration: 13.3351544304s;
  width: 7.4989757728px;
  height: 7.4989757728px;
  background-color: #f4f6f9;
}
.flake-layer .flake:nth-child(65) {
  left: 99%;
  -webkit-animation-delay: 0.4707099487s;
          animation-delay: 0.4707099487s;
  -webkit-animation-duration: 30.6251215825s;
          animation-duration: 30.6251215825s;
  width: 3.2652931591px;
  height: 3.2652931591px;
  background-color: #8697ba;
}
.flake-layer .flake:nth-child(66) {
  left: 56%;
  -webkit-animation-delay: 11.0743104928s;
          animation-delay: 11.0743104928s;
  -webkit-animation-duration: 14.8296986354s;
          animation-duration: 14.8296986354s;
  width: 6.7432253655px;
  height: 6.7432253655px;
  background-color: #e1e5ee;
}
.flake-layer .flake:nth-child(67) {
  left: 60%;
  -webkit-animation-delay: 8.2598251383s;
          animation-delay: 8.2598251383s;
  -webkit-animation-duration: 31.4311163664s;
          animation-duration: 31.4311163664s;
  width: 3.181560554px;
  height: 3.181560554px;
  background-color: #8496b9;
}
.flake-layer .flake:nth-child(68) {
  left: 27%;
  -webkit-animation-delay: 8.9994579234s;
          animation-delay: 8.9994579234s;
  -webkit-animation-duration: 15.6437264316s;
          animation-duration: 15.6437264316s;
  width: 6.3923388355px;
  height: 6.3923388355px;
  background-color: #d7dde8;
}
.flake-layer .flake:nth-child(69) {
  left: 16%;
  -webkit-animation-delay: 8.6390618847s;
          animation-delay: 8.6390618847s;
  -webkit-animation-duration: 23.4995845604s;
          animation-duration: 23.4995845604s;
  width: 4.255394377px;
  height: 4.255394377px;
  background-color: #a0aec9;
}
.flake-layer .flake:nth-child(70) {
  left: 40%;
  -webkit-animation-delay: 3.8706202554s;
          animation-delay: 3.8706202554s;
  -webkit-animation-duration: 13.4967046856s;
          animation-duration: 13.4967046856s;
  width: 7.4092159775px;
  height: 7.4092159775px;
  background-color: #f2f4f7;
}
.flake-layer .flake:nth-child(71) {
  left: 79%;
  -webkit-animation-delay: 3.8704791842s;
          animation-delay: 3.8704791842s;
  -webkit-animation-duration: 15.8977580233s;
          animation-duration: 15.8977580233s;
  width: 6.2901951239px;
  height: 6.2901951239px;
  background-color: #d5dbe7;
}
.flake-layer .flake:nth-child(72) {
  left: 96%;
  -webkit-animation-delay: 19.1176409801s;
          animation-delay: 19.1176409801s;
  -webkit-animation-duration: 17.5919472076s;
          animation-duration: 17.5919472076s;
  width: 5.6844190595px;
  height: 5.6844190595px;
  background-color: #c5cdde;
}
.flake-layer .flake:nth-child(73) {
  left: 80%;
  -webkit-animation-delay: 8.7791034787s;
          animation-delay: 8.7791034787s;
  -webkit-animation-duration: 35.2702323885s;
          animation-duration: 35.2702323885s;
  width: 2.8352520873px;
  height: 2.8352520873px;
  background-color: #7b8eb4;
}
.flake-layer .flake:nth-child(74) {
  left: 98%;
  -webkit-animation-delay: 15.2160721178s;
          animation-delay: 15.2160721178s;
  -webkit-animation-duration: 18.7339830198s;
          animation-duration: 18.7339830198s;
  width: 5.3378931696px;
  height: 5.3378931696px;
  background-color: #bcc6d9;
}
.flake-layer .flake:nth-child(75) {
  left: 67%;
  -webkit-animation-delay: 16.5410888012s;
          animation-delay: 16.5410888012s;
  -webkit-animation-duration: 27.8930550085s;
          animation-duration: 27.8930550085s;
  width: 3.5851218151px;
  height: 3.5851218151px;
  background-color: #8f9fbf;
}
.flake-layer .flake:nth-child(76) {
  left: 88%;
  -webkit-animation-delay: 16.4629288444s;
          animation-delay: 16.4629288444s;
  -webkit-animation-duration: 18.453034623s;
          animation-duration: 18.453034623s;
  width: 5.4191628663px;
  height: 5.4191628663px;
  background-color: #bec7da;
}
.flake-layer .flake:nth-child(77) {
  left: 87%;
  -webkit-animation-delay: 0.8958378987s;
          animation-delay: 0.8958378987s;
  -webkit-animation-duration: 18.6644488258s;
          animation-duration: 18.6644488258s;
  width: 5.3577794305px;
  height: 5.3577794305px;
  background-color: #bdc6d9;
}
.flake-layer .flake:nth-child(78) {
  left: 73%;
  -webkit-animation-delay: 7.6288902498s;
          animation-delay: 7.6288902498s;
  -webkit-animation-duration: 24.4412679574s;
          animation-duration: 24.4412679574s;
  width: 4.0914407622px;
  height: 4.0914407622px;
  background-color: #9caac6;
}
.flake-layer .flake:nth-child(79) {
  left: 6%;
  -webkit-animation-delay: 10.2186272651s;
          animation-delay: 10.2186272651s;
  -webkit-animation-duration: 15.5117198303s;
          animation-duration: 15.5117198303s;
  width: 6.4467384077px;
  height: 6.4467384077px;
  background-color: #d9dee9;
}
.flake-layer .flake:nth-child(80) {
  left: 20%;
  -webkit-animation-delay: 4.0374332445s;
          animation-delay: 4.0374332445s;
  -webkit-animation-duration: 16.6844343614s;
          animation-duration: 16.6844343614s;
  width: 5.9936104416px;
  height: 5.9936104416px;
  background-color: #cdd4e2;
}
.flake-layer .flake:nth-child(81) {
  left: 1%;
  -webkit-animation-delay: 14.5980248465s;
          animation-delay: 14.5980248465s;
  -webkit-animation-duration: 35.864717267s;
          animation-duration: 35.864717267s;
  width: 2.7882556345px;
  height: 2.7882556345px;
  background-color: #7a8db3;
}
.flake-layer .flake:nth-child(82) {
  left: 29%;
  -webkit-animation-delay: 9.0390994254s;
          animation-delay: 9.0390994254s;
  -webkit-animation-duration: 30.3582923364s;
          animation-duration: 30.3582923364s;
  width: 3.2939929194px;
  height: 3.2939929194px;
  background-color: #8798ba;
}
.flake-layer .flake:nth-child(83) {
  left: 26%;
  -webkit-animation-delay: 12.9629337815s;
          animation-delay: 12.9629337815s;
  -webkit-animation-duration: 23.6626369746s;
          animation-duration: 23.6626369746s;
  width: 4.2260716803px;
  height: 4.2260716803px;
  background-color: #9fadc8;
}
.flake-layer .flake:nth-child(84) {
  left: 29%;
  -webkit-animation-delay: 10.6536940519s;
          animation-delay: 10.6536940519s;
  -webkit-animation-duration: 39.683202989s;
          animation-duration: 39.683202989s;
  width: 2.5199578781px;
  height: 2.5199578781px;
  background-color: #7387af;
}
.flake-layer .flake:nth-child(85) {
  left: 43%;
  -webkit-animation-delay: 6.3644817076s;
          animation-delay: 6.3644817076s;
  -webkit-animation-duration: 16.3890935484s;
          animation-duration: 16.3890935484s;
  width: 6.1016187201px;
  height: 6.1016187201px;
  background-color: #d0d7e4;
}
.flake-layer .flake:nth-child(86) {
  left: 62%;
  -webkit-animation-delay: 8.1391274618s;
          animation-delay: 8.1391274618s;
  -webkit-animation-duration: 17.365992029s;
          animation-duration: 17.365992029s;
  width: 5.7583810837px;
  height: 5.7583810837px;
  background-color: #c7cfdf;
}
.flake-layer .flake:nth-child(87) {
  left: 32%;
  -webkit-animation-delay: 5.4709152776s;
          animation-delay: 5.4709152776s;
  -webkit-animation-duration: 15.0167085128s;
          animation-duration: 15.0167085128s;
  width: 6.6592489236px;
  height: 6.6592489236px;
  background-color: #dee3ec;
}
.flake-layer .flake:nth-child(88) {
  left: 89%;
  -webkit-animation-delay: 4.130251715s;
          animation-delay: 4.130251715s;
  -webkit-animation-duration: 14.457057469s;
          animation-duration: 14.457057469s;
  width: 6.9170369015px;
  height: 6.9170369015px;
  background-color: #e5e9f0;
}
.flake-layer .flake:nth-child(89) {
  left: 43%;
  -webkit-animation-delay: 13.0956939833s;
          animation-delay: 13.0956939833s;
  -webkit-animation-duration: 23.1686851346s;
          animation-duration: 23.1686851346s;
  width: 4.3161707028px;
  height: 4.3161707028px;
  background-color: #a2afca;
}
.flake-layer .flake:nth-child(90) {
  left: 34%;
  -webkit-animation-delay: 3.0231874334s;
          animation-delay: 3.0231874334s;
  -webkit-animation-duration: 13.9606591444s;
          animation-duration: 13.9606591444s;
  width: 7.1629855701px;
  height: 7.1629855701px;
  background-color: #ebeef4;
}
.flake-layer .flake:nth-child(91) {
  left: 64%;
  -webkit-animation-delay: 17.050965497s;
          animation-delay: 17.050965497s;
  -webkit-animation-duration: 17.4419208569s;
          animation-duration: 17.4419208569s;
  width: 5.7333134819px;
  height: 5.7333134819px;
  background-color: #c6cedf;
}
.flake-layer .flake:nth-child(92) {
  left: 96%;
  -webkit-animation-delay: 14.4894124515s;
          animation-delay: 14.4894124515s;
  -webkit-animation-duration: 14.7396915567s;
          animation-duration: 14.7396915567s;
  width: 6.7844024833px;
  height: 6.7844024833px;
  background-color: #e2e6ee;
}
.flake-layer .flake:nth-child(93) {
  left: 38%;
  -webkit-animation-delay: 12.9504924465s;
          animation-delay: 12.9504924465s;
  -webkit-animation-duration: 15.4033538487s;
          animation-duration: 15.4033538487s;
  width: 6.4920926301px;
  height: 6.4920926301px;
  background-color: #dadfea;
}
.flake-layer .flake:nth-child(94) {
  left: 61%;
  -webkit-animation-delay: 5.6376435322s;
          animation-delay: 5.6376435322s;
  -webkit-animation-duration: 20.6755962923s;
          animation-duration: 20.6755962923s;
  width: 4.8366198772px;
  height: 4.8366198772px;
  background-color: #afbad1;
}
.flake-layer .flake:nth-child(95) {
  left: 82%;
  -webkit-animation-delay: 18.1324375805s;
          animation-delay: 18.1324375805s;
  -webkit-animation-duration: 36.1777750155s;
          animation-duration: 36.1777750155s;
  width: 2.7641279752px;
  height: 2.7641279752px;
  background-color: #798cb3;
}
.flake-layer .flake:nth-child(96) {
  left: 36%;
  -webkit-animation-delay: 6.4874450147s;
          animation-delay: 6.4874450147s;
  -webkit-animation-duration: 35.1512838301s;
          animation-duration: 35.1512838301s;
  width: 2.8448463073px;
  height: 2.8448463073px;
  background-color: #7b8eb4;
}
.flake-layer .flake:nth-child(97) {
  left: 52%;
  -webkit-animation-delay: 5.00962775s;
          animation-delay: 5.00962775s;
  -webkit-animation-duration: 15.8162924026s;
          animation-duration: 15.8162924026s;
  width: 6.3225942879px;
  height: 6.3225942879px;
  background-color: #d6dce7;
}
.flake-layer .flake:nth-child(98) {
  left: 3%;
  -webkit-animation-delay: 13.7708704799s;
          animation-delay: 13.7708704799s;
  -webkit-animation-duration: 13.8846615664s;
          animation-duration: 13.8846615664s;
  width: 7.2021921112px;
  height: 7.2021921112px;
  background-color: #eceff4;
}
.flake-layer .flake:nth-child(99) {
  left: 7%;
  -webkit-animation-delay: 14.0944381422s;
          animation-delay: 14.0944381422s;
  -webkit-animation-duration: 14.5139570406s;
          animation-duration: 14.5139570406s;
  width: 6.8899198007px;
  height: 6.8899198007px;
  background-color: #e4e8f0;
}
.flake-layer .flake:nth-child(100) {
  left: 18%;
  -webkit-animation-delay: 17.0579615379s;
          animation-delay: 17.0579615379s;
  -webkit-animation-duration: 28.6993474836s;
          animation-duration: 28.6993474836s;
  width: 3.484399778px;
  height: 3.484399778px;
  background-color: #8c9cbd;
}/*# sourceMappingURL=snow.css.map */