$flakeColor: #457;
$flakeLayerColor: #234;

$flakeSize: 5px;
$fallDuration: 20s;

body{
    // overflow: hidden;
    background-color: $flakeLayerColor;

}

.flake-layer{
    // position: fixed;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;

    width: 100%;
    height: 100vh;

    .flake{
        
        // background-color: $flakeColor;
        border-radius: $flakeSize;
        position: fixed;
        top: - $flakeSize * 2;

        
        animation: fall $fallDuration linear infinite;
        
        @keyframes fall {
            from {
                top: -$flakeSize * 2;
            }

            to {
                top:100%;
            }
    }

    @for $n from 1 through 100{
        &:nth-child(#{$n}){
        left: 1% * random(100);
        animation-delay: $fallDuration * random();

        $sizeK: 0.5 + random();
        animation-duration: $fallDuration * 1 / $sizeK ;
        

        width: $flakeSize * $sizeK;
        height: $flakeSize * $sizeK;
        background-color: lighten($flakeColor, $sizeK * 40%) ;
    }
    }
    
    }

    
}


